module.exports = {
    hostname:'edit1.bootlegger.tv',
    db_host     : 'localhost',
    db_port     :  27017,
    db_user     : 'bootlegger',
    db_password : 'BlahBlah123',
    db_database : 'bootlegger',
    AWS_ACCESS_KEY_ID:'',
    AWS_SECRET_ACCESS_KEY:'',
    S3_BUCKET:'bootlegger',
    S3_REGION:'eu-west-1',
    S3_URL:'https://bootleggerlive.s3.amazonaws.com',
    S3_CLOUD_URL:'https://.cloudfront.net/upload/',
    S3_TRANSCODE_URL:'https://.cloudfront.net/upload/',
    ELASTIC_PIPELINE:'-91xlqc',
    BEANSTALK_HOST:'db.bootlegger.tv',
    BEANSTALK_PORT:'11300',
    master_url:'http://localhost',
    dropbox_clientid:'',
    dropbox_clientsecret:'',
    S3_TRANSCODE_BUCKET:'https://bootleggertrans.s3.amazonaws.com/',
    S3_TRANSCODE_BUCKET_NAME:'bootleggertrans',
    HOMOG_PRESET:'1437577812457-m33jon',
    AUDIO_PRESET:'1437639878992-iqiibs',
    CURRENT_EDIT_KEY:''
}
